
html, body, #home {
	height: 100%;
	overflow-x: hidden;
}

body {
	background-attachment: fixed;
	font-family: sans-serif;
    word-wrap: break-word;
    overflow: break-word;
}

/* Barra de navegação
-----------------------------*/
nav.navbar-transparente {
	padding: 15px 0px;
	background: rgba(0,0,0,0.6);
}

.navbar-light .navbar-nav .nav-link {
	color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #9bf0e1;
}

.navbar-light .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,0.5);
}

.divisor {
	width: 1px;
	background: white;
	margin: 12px 15px;
}

/* Rodapé
-----------------------------*/
footer {
	background: #000;
	padding: 50px 0px 20px 0px;
	position: relative;
}

footer h4 {
	color: #919496;
	font-size: 0.8em;
	text-transform: uppercase;
}

footer .navbar-nav a {
	color: white;
	font-size: 0.8em;
}

footer .navbar-nav a:hover {
	color: #9bf0e1;
	text-decoration: none;
}

footer ul {
	list-style: none;
}

footer ul li {
	float: right;
	margin: 0 5px;
}

/* Tipografia
-----------------------------*/
h1 {
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
	color: white;
}

h2 {
	font-size: 3em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h3 {
	font-size: 2em;
	font-weight: 700;
	letter-spacing: -0.04em;
}



.wrapper {
    width: 100%;
    margin: 0 auto;
}
main {
    display: block;
    background-color: #fff;
}
/*section1*/
.container {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}
section.module p{
    margin-bottom: 40px;
}
section.module:last-child {
    margin-bottom: 0;
}
section.module h2 {
    margin-bottom: 40px;
    font-size: 30px;
}
section.module.content {
    padding: 40px 0;
    background-color: #19e68c;
    text-align: center;
    height: 700px;
}
section.module.content h1{
    font-size: 45px;
    color: #000;
}
section.module.content img{
    width: 150px;
    height: 150px;
    
}
section.module.content button {
    border-radius: 30px;
    border-color: #fff;
    outline: none;
    cursor: pointer;
    width: 100px;
    height: 50px;
    transition: all 0.2s;
    font-weight: bold;
}
section.module.content button:hover {
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    cursor: pointer;  
  }
  /*section2*/
  .container2 {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}
section.module2 p{
    margin-bottom: 40px;
}
section.module2:last-child {
    margin-bottom: 0;
}
section.module2 h2 {
    margin-bottom: 40px;
    font-size: 30px;
}
section.module.content2 {
    padding: 40px 0;
    background-color: #fff;
    text-align: center;
}
section.module.content2 h1{
    font-size: 45px;
    color: #000;
}
section.module.content2 ul li {
    list-style: none;
    margin: auto auto;
    cursor: pointer;
}
section.module.content2 ul  {
    display: flex;
}
section.module.content ul  li:first-child {
    padding: 0;
}
/*section3*/
.container3 {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}
section.module3 p{
    margin-bottom: 40px;
}
section.module3:last-child {
    margin-bottom: 0;
}
section.module3 h2 {
    margin-bottom: 40px;
    font-size: 30px;
}
section.module.content3 {
    padding: 40px 0;
    background-color: #222326;
    text-align: center;
}
section.module.content3 h1{
    font-size: 35px;
    color: #fff;
}
section.module.content3 img{
    width: 500px;
    height: 200px;
    
}
section.module.content3 ul li {
    display: inline;
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 10px;
}
.verde1 {
    color: var(--text-bright-accent,#117a37);
}
.verde2 {
    color:  var(--text-bright-accent,#117a37);
}



